* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 72px;
  background-color: #f8f8f8;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue";
}

h2 {
  font-size: 55px;
  color: #4dc0b3;
}

p {
  font-family: "Helvetica Neue";
  font-weight: 400;
}
